.wrapper {
    width: 80%;
    margin: 0 auto;
}

.site-nav {
    margin: 0 auto;
}

svg {
    display: block;
    margin: 0 auto;
}

.article-title, nav {
	text-align: center;
}

.article-title {
	text-transform: uppercase;
	letter-spacing: 1px;
}

.article-title a:link, .article-title a:visited, .article-title a:hover, .article-title a:active {
	text-decoration: none;
	color: #101010;
}

.article-title a:hover, .article-title a:active {
	color: #6B6B6B;
}

.meta {
	text-align: center;
	color: #C95D63;
	font-size: 1.3em;
	font-weight: normal;
	line-height: 1;
	margin: .25em 0 0 0;
	font-style: italic;
}

img {
	width: 100%;
	overflow: hidden;
	margin: 2em 0 2em 0;
}

.article-title {
	margin: 0;
	line-height: 1.4;
	font-family: "pt-sans",sans-serif;
font-style: normal;
font-weight: 700;
}

p {
	font-size: 1.3em;
	line-height: 1.4;
	color: #383F51;
margin: 1em 0;
}

.site-nav {margin-top: 2em;}

nav {
a:link, a:visited, a:hover, a:active {
	text-decoration: none;
	color: #484A47;
	font-family: "pt-sans",sans-serif;
font-style: normal;
font-weight: 400;
}
}

nav a:hover, nav a:active {
	border-bottom: 2px solid #999;
	color: #484A47;
}

nav ul,nav ol {
    list-style:none;
    list-style-image:none; 
    margin: 0;
    width: 100%; 
padding: 1.75em 0 0 0;
    }

nav li {
    display: inline; 
    padding-right: .5em;
    }

nav li:nth-child(4) {
    padding-right: 0;   
}

.main-nav {
	font-size: 1em;
	font-family: "pt-sans",sans-serif;
font-style: normal;
font-weight: 400;
text-transform: uppercase;
letter-spacing: 1px;
}

body#home a#homenav,
body#about a#aboutnav,
body#recipes a#recipesnav,
body#reading a#readingnav,{
  	border-bottom: 2px solid #5C6D70;
  	  	color: #484A47;
}

ol {
	counter-reset:li; /* Initiate a counter */
	margin-left:0; /* Remove the default left margin */
	padding-left:0; /* Remove the default left padding */
}
ol > li {
	position:relative; /* Create a positioning context */
	margin:0 0 0 0em; /* Give each list item a left margin to make room for the numbers */
	padding:0; /* Add some spacing around the content */
	list-style:none; /* Disable the normal item numbering */
}
ol > li:before {
	content:counter(li); /* Use the counter as content */
	counter-increment:li; /* Increment the counter by 1 */
	/* Position and style the number */
	position:relative;
	float: left;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	width:2em;
	/* Some space between the number and the content in browsers that support
	   generated content but not positioning it (Camino 2 is one example) */
	margin-right:0px;
	padding:0px;
	border-top:2px solid #666;
	color:#fff;
	background:#666;
	font-weight:bold;
	font-family:"Helvetica Neue", Arial, sans-serif;
	text-align:center;
}
li ol,
li ul {margin-top:0px;}
ol ol li:last-child {margin-bottom:0;}